{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="" method="post">
                <label>Наименование <input name="name"></label>
                <label>Цена <input name="price"></label>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}